<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- Servlet declare start -->
	<servlet>
		<servlet-name>PiDictCloud</servlet-name>
		<servlet-class>com.gae.pidictcloud.PiDictCloudServlet</servlet-class>		
	</servlet>
	<servlet>		
		<servlet-name>WordPhrase</servlet-name>
		<servlet-class>com.gae.pidictcloud.WordPhraseServlet</servlet-class>
	</servlet>
	<servlet>		
		<servlet-name>Question</servlet-name>
		<servlet-class>com.gae.pidictcloud.QuestionServlet</servlet-class>
	</servlet>
	<servlet>		
		<servlet-name>IndexingDocument</servlet-name>
		<servlet-class>com.gae.pidictcloud.IndexingServlet</servlet-class>
	</servlet>
	<servlet>		
		<servlet-name>Category</servlet-name>
		<servlet-class>com.gae.pidictcloud.CategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteDataServlet</servlet-name>
		<servlet-class>com.gae.pidictcloud.DeleteDataServlet</servlet-class>		
	</servlet>
	<servlet>
		<servlet-name>StatisticServlet</servlet-name>
		<servlet-class>com.gae.pidictcloud.StatisticServlet</servlet-class>		
	</servlet>
	<!-- Servlet declare end -->
	<!-- Servlet mapping start -->
	<servlet-mapping>
		<servlet-name>PiDictCloud</servlet-name>
		<url-pattern>/pidictcloud</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WordPhrase</servlet-name>
		<url-pattern>/addword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WordPhrase</servlet-name>
		<url-pattern>/extension</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WordPhrase</servlet-name>
		<url-pattern>/historyextension</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WordPhrase</servlet-name>
		<url-pattern>/searchextension</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WordPhrase</servlet-name>
		<url-pattern>/historyword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WordPhrase</servlet-name>
		<url-pattern>/searchword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WordPhrase</servlet-name>
		<url-pattern>/updateword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Question</servlet-name>
		<url-pattern>/addquestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Question</servlet-name>
		<url-pattern>/historyquestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Question</servlet-name>
		<url-pattern>/updatequestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Question</servlet-name>
		<url-pattern>/searchquestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexingDocument</servlet-name>
		<url-pattern>/indexingdocument</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexingDocument</servlet-name>
		<url-pattern>/updateindexingdocument</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Category</servlet-name>
		<url-pattern>/searchcategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Category</servlet-name>
		<url-pattern>/updatecategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Category</servlet-name>
		<url-pattern>/addcategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteDataServlet</servlet-name>
		<url-pattern>/deleteindex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatisticServlet</servlet-name>
		<url-pattern>/statisticphrases</url-pattern>
	</servlet-mapping>
	<!-- Servlet mapping end -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>